@import '../constants.scss';

.container-page-products {
    margin-top        : 80px;
    height            : 100%;
    background-color  : $greyColor;
    display           : grid;
    grid-template-rows: auto 1fr;
}

.container-page-products-list {
    margin-left          : 250px;
    background-color     : $greyColor;
    display              : grid;
    grid-template-rows   : 1fr;
    grid-template-columns: repeat(4, 1fr);
}

.container-page-place-order {
    background           : $greyColor;
    height               : 100%;
    margin-top           : 60px;
    display              : grid;
    align-items          : start;
    padding              : 50px;
    grid-column-gap      : 40px;
    grid-template-columns: 2fr 1fr;
}


//confirm order forms
.container-confirm-order {
    background: #fff;
    width     : 100%;
    height    : auto;
    @include shadowBottom();
    padding      : 40px;
    border-radius: 4px;
}

.container-confirm-order-forms {
    display           : grid;
    grid-template-rows: auto auto;
    grid-row-gap      : 40px;
    padding           : 40px;
}

.topbar-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.topbar-text:hover{
    cursor: pointer;
}